In [1]:
import numpy as np
import pandas as pd

In [34]:
data = pd.read_csv("../data/achmusik.csv")

In [35]:
# Getting the decimals right -- commas to points and no more Nones
data = data.set_index(["genre", "sub_genre", "artist", "album", "song"])
data.fillna(value="", inplace=True)

for i in range(data.columns.size):
    data[data.columns[i]] = data[data.columns[i]].str.replace(",", ".")
    data[data.columns[i]] = pd.to_numeric(data[data.columns[i]], errors='coerce')

In [36]:
data.corr(method="spearman")

,Qu,Gr,Vi,Ro,Sa,Gl,Rx,Cl,Lu,Unnamed: 14
Qu,1.000000,0.515369,0.514232,0.171099,0.555536,0.467383,0.437073,0.016733,0.375563,NaN
Gr,0.515369,1.000000,0.232010,0.031076,0.306678,0.110985,0.200000,-1.000000,0.000000,NaN
Vi,0.514232,0.232010,1.000000,0.089374,0.368184,0.615366,0.617213,-0.345033,0.690275,NaN
Ro,0.171099,0.031076,0.089374,1.000000,0.073699,0.150152,0.316228,0.332887,0.500000,NaN
Sa,0.555536,0.306678,0.368184,0.073699,1.000000,0.038462,1.000000,NaN,NaN,NaN
Gl,0.467383,0.110985,0.615366,0.150152,0.038462,1.000000,0.734051,NaN,1.000000,NaN
Rx,0.437073,0.200000,0.617213,0.316228,1.000000,0.734051,1.000000,NaN,NaN,NaN
Cl,0.016733,-1.000000,-0.345033,0.332887,NaN,NaN,NaN,1.000000,NaN,NaN
Lu,0.375563,0.000000,0.690275,0.500000,NaN,1.000000,NaN,NaN,1.000000,NaN
Unnamed: 14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN